# --- GLOBAL DOCKER COMPOSE CONFIGURATION ---
NODE_ENV=development

# Database
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=humayun_secure_pass
DB_NAME=humayun_archive_db

# Backend Variables
PORT=5000
FRONTEND_URL=http://localhost:3000
JWT_SECRET=super_secret_jwt_key_here
JWT_REFRESH_SECRET=super_secret_jwt_refresh_key_here

# Frontend Variables
NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1
